@import 'normalize.css'; 
@import './fonts/fonts.scss';

:root {
   --background-color: #ffff;
  --background-secondary-color: #f9fafc;
  --text-color: #484848;
  --border-color: #494A4C;
  --pink-decor-color: #d8156b;
}

body {
  margin: 0;
  font-family: 'e-Ukraine', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color); 
}

#root {
  min-height: 100vh;
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--background-color); 
}


@media (max-width: 744px) {
    #root {
      width: 100%; 
      padding: 0 15px; 
    }
  }
  
  @media (max-width: 430px) {
    #root {
      width: 100%; 
      padding: 0 10px; 
    }
  
    body {
      font-size: 12px;
    }
  }