@font-face {
    font-family: 'e-Ukraine';
    src: url('./e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'e-Ukraine';
    src: url('./e-Ukraine/e-Ukraine-UltraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'e-Ukraine';
    src: url('./e-Ukraine/e-Ukraine-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'e-Ukraine-Head';
    src: url('./e-Ukraine-Head/e-UkraineHead-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
